<div class="favourite-header">
  <h1>Your Reel Reviews</h1>
  <div class="header-background"></div>
</div>

<div class="main-content-container">
  <div class="places-list">
    <% @posts.each do |post| %>
      <div id="place_<%= post.id %>" class="place" data-controller="place" data-place-id="<%= post.id %>">
        <div class="posts-list">
          <div id="post_<%= post.id %>" class="post" data-place-target="post" data-post-id="<%= post.id %>">
            <video id="post_<%= post.id %>_video" class="video cld-video-player"></video>
            <div class="content-info">
              <div class="content-info-background">
              <div class="content-info-text">
                <h3 class="place-name"><%= link_to post.place.name, place_path(post.place) %></h3>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% current_user.posts.each do |post| %>
  <script>
    var cloudinary_video_player_<%= post.id %> = cloudinary.videoPlayer("post_<%= post.id %>_video", {
      cloud_name: 'dfmuyxggs',
      fluid: false,
      muted: true,
      showLogo: false,
      controls: false,
      controlBar: {
        playToggle: false,
        volumeMenuButton: false,
        fullscreenToggle: false,
        currentTimeDisplay: false,
        timeDivider: false,
        durationDisplay: false,
        remainingTimeDisplay: false,
        progressControl: true
      },
      hideContextMenu: true,
      autoplay: true,
      loop: true,
      playsinline: true
    });

    cloudinary_video_player_<%= post.id %>.source("<%= post.video_public_id %>", {
      transformation: {
        width: document.querySelector('#place_<%= post.id %>').clientWidth,
        crop: 'fill'
      }
    });
  </script>
<% end %>

<style>
html, body {
  margin: 0;
}

.favourite-header {
  padding-top: 0.3rem;
  padding-right: 0.8rem;
  position: absolute;
  right: 0;
  z-index: 1;
}
.header-background  {
  width: 100%;
  top: 1.4rem;
  right: 0;
  left: auto;
  transform: rotate(180deg);
}

.main-content-container{
  width: 100vw;
  background: rgb(226, 226, 226);
}

.places-list {
  width: 100%;

}

.posts-list {
  width: 100%;
  height: 100%;
}

.place {
  position: relative;
  scroll-snap-align: start;
}

.content-info {
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white; /* you can change the color */
}

.content-info-text {
  margin-left: 1rem;
  padding-bottom: 4rem;
  text-align: left;
}

.content-info-background {
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
</style>
