<div data-controller="record-video" data-place-id="<%= @place.id %>">
  <%= form_with(model: [@place, @post], local: true) do |f| %>
    <div class="form-inputs">
      <%= f.label :video %>
      <%= f.file_field :video %>
    </div>
    <div class="form-inputs">
      <%= f.label :place_rating %>
      <%= f.number_field :place_rating %>
    </div>
    <%= f.submit "Create Post" %>

    <%= f.hidden_field :video_url, id: 'hidden_video_url' %>
    <%= f.hidden_field :video_public_id, id: 'hidden_video_public_id' %>

  <% end %>
  <%= render "new_video" %>
</div>
