<div data-controller="record-video">
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-inputs">
      <%= f.label :video %>
      <%= f.file_field :video %>
    </div>
    <div class="form-inputs">
      <%= f.label :place_rating %>
      <%= f.number_field :place_rating %>
    </div>
    <%= f.submit "Create Post" %>
  <% end %>

  <h2>Record your video</h2>
  <button data-action="click->record-video#start" data-target="record-video.startButton">Start</button>
  <button data-action="click->record-video#stop" data-target="record-video.stopButton">Stop</button>
  <div>
    <video style="border: 1px solid black" id="videoElement" data-record-video-target="videoElement" width="300" height="200" autoplay muted></video>
  </div>
</div>
