<%= render partial: 'category_bar' %>
<div class="main-content-container">
  <div class="places-list">
    <% @places.each do |place| %>
      <div id="place_<%= place.id %>" class="place" data-controller="place" data-place-id="<%= place.id %>">
        <div class="posts-list">
          <% place.posts.order('created_at DESC')[0..4].each_with_index do |post, index| %>
            <div id="post_<%= post.id %>" class="post <%= 'active' if index.zero? %>" data-place-target="post" data-post-id="<%= post.id %>">
              <%= render partial: 'post', locals: { post: post } %>
            </div>
          <% end %>
        </div>

        <div class="content-info">

          <a href="" class="prev" data-action="click->place#prev:prevent"><</a>
          <a href="" class="next" data-action="click->place#next:prevent">></a>
          <% if current_user && !current_user.favourites.exists?(place_id: place.id) %>
            <%= link_to "Favourite", favourites_path(place_id: place.id), data: { turbo: true, turbo_method: :post }, class: "favourite" %>
              <i class="fas fa-heart heart-icon" title="Favourite"></i>
          <% else %>
            <%= link_to "Unfavourite", favourites_path(place_id: place.id), data: { turbo: true, turbo_method: :post}, class: "favourite" %>
          <% end %>

          <div class="content-info-background">
           <div class="content-info-text">
              <h3 class="place-name"><%= link_to place.name, place_path(place) %></h3>
                <% place.posts.order('created_at DESC')[0..4].each do |post| %>
                <%# <img src="" alt="" class="avatar"> %>
                <p class="post-username"> <%= post.user.username %> </p>
                <p class="post-caption"></p>
              <%end%>
            </div>
          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const favoriteButtons = document.querySelectorAll(".favourite");

  favoriteButtons.forEach(button => {
    button.addEventListener("click", (event) => {
      event.preventDefault();
      const placeId = button.getAttribute("data-place-id");

      // Send AJAX request to favorite action
      fetch(`/favourites?place_id=${placeId}`, { method: "POST", headers: { "X-Requested-With": "XMLHttpRequest" } })
        .then(response => {
          if (response.ok) {
            // Favourite request successful
            button.classList.toggle("active");
            console.log("Place favorited");
          } else {
            // Handle error
            console.error("Failed to favorite place");
          }
        })
        .catch(error => {
          console.error("Failed to favorite place", error);
        });
    });
  });
});
</script>
