<div class="main-container">
  <div class="main-image">
    <%= image_tag(@place.image_url) %>
  </div>
  <div class="details">
    <div class="name-description">
      <h1><%= @place.name %></h1>
      <p>Category: <%= @place.category %></p>
      <p>Description: <%= @place.description %></p>
    </div>
    <div class="opening-times">
      <h2>Opening times</h2>
      <p>Opening Times: <%= @place.opening_hours %></p>
    </div>
    <div class="location">
      <h2>Location</h2>
      <p>Location: <%= @place.address %></p>
    </div>
  </div>
  <div id="map-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div id="reviews">
    <h2>Reviews</h2>
    <div class="post-place">
      <% @place.posts.order('created_at DESC').each do |post| %>
        <div id="post_<%= post.id %>" class="post" data-place-target="post" data-post-id="<%= post.id %>">
          <%= render partial: 'post', locals: { post: post } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
