<div class="main-container">
  <div class="image-and-name">
    <%= image_tag(@place.image_url) %>
    <div class="place-name">
      <h1><%= @place.name %></h1>
    </div>
  </div>

  <div class="details">
    <div class="description-and-category">
    <div class="category-icon-and-text">
      <%= image_tag "icons/categories/#{@place.category}.svg", alt: "#{@place.category} icon", class: "icon-category" %>
      <p style="background-color: <%=
      case @place.category
        when 'Culture'
         'blue'
        when 'Restaurants'
         'lightblue'
        when 'Bars'
        'olive'
        when 'Outdoors'
        'green'
        when 'Cafés'
        'yellow'
        when 'Fitness'
        'pink'
      end
      %>;">
      <%= @place.category %></p>
    </div>
      <p><%= @place.description %></p>
    </div>
    <div class="opening-times">
      <h2>Opening times</h2>
      <p><%= simple_format(@place.opening_hours) %></p>
    </div>
    <div class="location">
      <h2>Location</h2>
      <p><%= @place.address %></p>
    </div>
  </div>

  <div
  data-map-markers-value="<%= @markers.to_json %>"
  id="map-container" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
