 <%# <%= link_to "Like", like_path, class: "overlay-link" %>

<h1><%= @place.name %></h1>
<%# <p>Rating: <%= @place.rating %>
<p>Category: <%= @place.category %></p>
<p>Location: <%= @place.address %></p>
<p>Description: <%= @place.description %></p>
<p>Opening Times: <%= @place.opening_hours %></p>

<div id="map-container">
